{{> navBar}}
<br>
<br>
<div class="album py-5 ">
  <div class="container">
    <br>
    {{> messages}}
    <h3>管理者後台</h3>
    <br>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link " href="/admin/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/coupons">Coupons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders/discounts">Discount</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/notifications">Notification</a>
      </li>
    </ul>
    <br>
    <h4>分類資料總覽</h4>
    <br>
    <form action="/admin/categories" method="POST">
      <div class="form-row">
        <div class="col-2">
          <input type="text" class="form-control" placeholder="Name" name="name">
        </div>
        <div class="col-8">
          <input type="text" class="form-control" placeholder="Description" name="description">
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-outline-success btn-round btn-sm">新增分類</button>
        </div>
      </div>
    </form>
    <br>
    <table class="table table-hover" id="myTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')"
            style="cursor:pointer;width:20%">Category
            Name&nbsp;
            <i class="fas fa-sort"></i>
          </th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')"
            style="cursor:pointer;width:50%">Category
            Description&nbsp;
            <i class="fas fa-sort"></i>
          </th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">
            dataStatus&nbsp;
            <i class="fas fa-sort"></i>
          </th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        {{#each categories}}
        {{#ifCondNum this.id ../targetId}}
        <tr class="item bg-light">
          <td>
            <p>{{this.id}}</p>
          </td>
          <form action="/admin/categories/{{this.id}}?_method=PUT" method="POST">
            <td>
              <input type="text" class="form-control" placeholder="name" name="name" value="{{this.name}}">
            </td>
            <td>
              <textarea rows="" cols="" type="text" class="form-control" name="description" id="description"
                placeholder="description" style="height:100px; vertical-align: top"
                required>{{this.description}}</textarea>
            </td>
            <td>{{#ifCond this.dataStatus 1}} 可使用 {{else}} 已刪除 {{/ifCond}}</td>
            <td>
              <button type="submit" class="btn btn-outline-success btn-round btn-sm">送出</button>
              <a href="/admin/categories" class="btn btn-outline-danger btn-sm">取消</a>
            </td>
          </form>
        </tr>
        {{else}}
        <tr class="item">
          <th scope="row">{{this.id}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{#ifCond this.dataStatus 1}} 可使用 {{else}} 已刪除 {{/ifCond}}</td>
          <td>

            {{#ifCond this.dataStatus 1}}
            <a href="/admin/categories/{{this.id}}/edit" class="btn btn-outline-primary btn-sm">
              編輯
            </a>

            <a class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#trigger-deleteItem-{{this.id}}"
              href="#">刪除
            </a>
            {{/ifCond}}

            {{!--  刪除分類動作 --}}
            <div class="modal fade" id="trigger-deleteItem-{{this.id}}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <big class="font-weight-bold">確定要刪除【 {{this.name}} 】的分類紀錄嗎?</big>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary  btn-sm" data-dismiss="modal">關閉</button>
                    <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                      <button type="submit" class="btn btn-link">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {{/ifCondNum}}
        {{/each}}
      </tbody>
    </table>
    <br />
    <br />
  </div>
</div>