{{> messages}}

<div class="main-wrapper">
  <header class="header-area transparent-bar sticky-bar showdow">
    <div class="main-header-wrap">
      <div class="container">
        <div class="row mt-40">
          <div class="col-xl-2 col-lg-2">
            <div class="logo mt-40">
              <h3>aja 後台</h3>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10">
            <div class="main-menu menu-common-style menu-lh-1 menu-other-style">
              <nav>
                <ul>
                  <li><a href="/products/main"><b>MAIN</b> 主頁</a></li>
                  <li><a href="/admin/users">Users</a></li>
                  <li><a href="/admin/categories">Categories</a></li>
                  <li><a href="/admin/coupons">Coupon</a></li>
                  <li><a href="/admin/products">Product</a></li>
                  <li><a href="/admin/orders">Order</a></li>
                  <li><a href="/admin/orders/discounts">Discount</a></li>
                  <li><a href="/admin/notification">Notification</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<br />
<br />
<br />
<br />
<br />

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h6 class="text-secondary"><small>(<i class="fas fa-star-of-life text-danger"></i>)</small> 代表必填欄位</h6>
      {{#if coupon}}
      <form action="/admin/coupons/{{coupon.id}}?_method=PUT" method="POST">
        <div class="form-label-group">
          <label for="name">name <small>(<i class="fas fa-star-of-life text-danger"></i>)</label>
          <input type="text" placeholder="name" name="name" value="{{coupon.name}}">
        </div>
        <div class="form-label-group">
          <label for="discount">discount</label>
          <input type="number" placeholder="discount" name="discount" value={{#ifCond coupon.discount '0'}} {{else}}
            {{coupon.discount}} {{/ifCond}}>
        </div>
        <div class="form-label-group">
          <label for="number_of_limitation">number Of Limitation <small>(<i
                class="fas fa-star-of-life text-danger"></i>)</label>
          <input type="text" placeholder="number_of_limitation" name="number_of_limitation"
            value="{{coupon.numberOfLimitation}}">
        </div>
        <div class="form-label-group">
          <label for="expire_date">expire Date <small>(<i class="fas fa-star-of-life text-danger"></i>)</label>
          <input type="date" placeholder="expire_date" name="expire_date" value="{{momentYYYYMMDD coupon.expireDate}}">
        </div>
        <div class="form-label-group">
          <label for="amount">amount</label>
          <input type="number" placeholder="amount" name="amount" value={{#ifCond coupon.amount 0}} {{else}}
            {{coupon.amount}} {{/ifCond}}>
        </div>
        <br />
        <button class="btn btn-outline-primary btn-block" type="submit">Update</button>
        <a href="/admin/coupons">or Create New</a>
      </form>
      {{else}}
      <form action="/admin/coupons" method="POST">
        <div class="form-label-group">
          <label for="name">name <small>(<i class="fas fa-star-of-life text-danger"></i>)</label>
          <input type="text" placeholder="name" name="name">
        </div>
        <div class="form-label-group">
          <label for="discount">discount</label>
          <input type="number" placeholder="discount" name="discount">
        </div>
        <div class="form-label-group">
          <label for="number_of_limitation">number Of Limitation <small>(<i
                class="fas fa-star-of-life text-danger"></i>)</label>
          <input type="text" placeholder="number_of_limitation" name="number_of_limitation">
        </div>
        <div class="form-label-group">
          <label for="expire_date">expire Date <small>(<i class="fas fa-star-of-life text-danger"></i>)</label>
          <input type="date" placeholder="expire_date" name="expire_date">
        </div>
        <div class="form-label-group">
          <label for="amount">amount</label>
          <input type="number" placeholder="amount" name="amount">
        </div>
        <br />
        <button class="btn btn-outline-primary btn-block" type="submit">Submit</button>
      </form>
      {{/if}}

    </div>
  </div>
</div>

<br />
<br />
<table class="table" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')"
        style="cursor:pointer">Coupon Name
        <i class="fas fa-sort"></i>
      </th>
      <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')"
        style="cursor:pointer">sn
        <i class="fas fa-sort"></i>
      </th>
      <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')"
        style="cursor:pointer">discount
        <i class="fas fa-sort"></i>
      </th>
      <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(5)')"
        style="cursor:pointer">number Of
        Limitation
        <i class="fas fa-sort"></i>
      </th>
      <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(6)')"
        style="cursor:pointer">expire Date
        <i class="fas fa-sort"></i>
      </th>
      <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(7)')"
        style="cursor:pointer">amount
        <i class="fas fa-sort"></i>
      </th>
      <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(8)')"
        style="cursor:pointer">dataStatus
        <i class="fas fa-sort"></i>
      </th>
      <th class="text-center" scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each coupons}}
    <tr class="item">
      <th scope="row">{{this.id}}</th>
      <td class="text-center">{{this.name}}</td>
      <td class="text-center">{{this.sn}}</td>
      <td class="text-center">{{this.discount}}</td>
      <td class="text-center">{{this.numberOfLimitation}}</td>
      <td class="text-center">{{momentYYYYMMDD this.expireDate}}</td>
      <td class="text-center">{{this.amount}}</td>
      <td class="text-center">
        {{#ifCond this.dataStatus 1}}
        可使用
        <br />
        <a class="btn btn-outline-danger" data-toggle="modal" data-target="#trigger-deleteItem-{{this.id}}" href="#">刪除
        </a>
        {{!--  刪除 Coupon 動作 --}}
        <div class="modal fade" id="trigger-deleteItem-{{this.id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <big class="font-weight-bold">確定要刪除【 {{this.name}} 】的 Coupon 紀錄嗎?</big>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <form action="/admin/coupons/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-link">刪除此 Coupon</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{else}} 已刪除
        {{/ifCond}}
      </td>
      <td class="text-center">
        <a href="/admin/coupons/{{this.id}}" class="btn btn-outline-primary">
          編輯
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<br />
<br />