{{> navBar}}
<br>
<br>
<div class="album py-5 ">
  <div class="container">
    <br>
    {{> messages}}
    <h3>管理者後台</h3>
    <br>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link " href="/admin/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/coupons">Coupons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/orders/discounts">Discount</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/notifications">Notification</a>
      </li>
    </ul>
    <br>
    <h4>購物車折扣設定</h4>
    <br>

    {{!-- <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h6 class="text-secondary"><small>(<i class="fas fa-star-of-life text-danger"></i>)</small> 代表必填欄位</h6>
          {{#if discount}}
          <form action="/admin/orders/discounts/{{discount.id}}/edit?_method=PUT" method="POST">
            <div class="form-label-group">
              <label for="name">name <small>(<i class="fas fa-star-of-life text-danger"></i>)</label>
              <input type="text" placeholder="name" name="name" value="{{discount.name}}">
            </div>
            <div class="form-label-group">
              <label for="requireAmount">require Amount</label>
              <input type="text" placeholder="requireAmount" name="requireAmount" value="{{discount.requireAmount}}">
            </div>
            <div class="form-label-group">
              <label for="discountAmount">discount Amount</label>
              <input type="text" placeholder="discountAmount" name="discountAmount" value="{{discount.discountAmount}}">
            </div>
            <br />
            <button class="btn btn-outline-primary btn-block" type="submit">Update</button>
            <a href="/admin/orders/discounts">or Create New</a>
          </form>
          {{else}}
          <form action="/admin/orders/discounts" method="POST">
            <div class="form-label-group">
              <label for="name">name <small>(<i class="fas fa-star-of-life text-danger"></i>)</label>
              <input type="text" placeholder="name" name="name">
            </div>
            <div class="form-label-group">
              <label for="requireAmount">require Amount</label>
              <input type="text" placeholder="requireAmount" name="requireAmount">
            </div>
            <div class="form-label-group">
              <label for="discountAmount">discount Amount</label>
              <input type="text" placeholder="discountAmount" name="discountAmount">
            </div>
            <br />
            <button class="btn btn-outline-primary btn-block" type="submit">Submit</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div> --}}

    {{#if targetDiscount}}
    <form action="/admin/orders/discounts/{{targetDiscount.id}}/edit?_method=PUT" method="POST">
      {{else}}
      <form action="/admin/orders/discounts" method="POST">
        {{/if}}
        <div class="form-row">
          <div class="col-2">
            <input type="text" class="form-control" placeholder="名稱" name="name" value="{{targetDiscount.name}}">
          </div>
          <div class="col-4">
            <input type="text" class="form-control" placeholder="金額條件（需大於1)" name="requireAmount"
              value="{{targetDiscount.requireAmount}}">
          </div>
          <div class=" col-4">
            <input type="text" class="form-control" placeholder="折扣額度 (1~99)" name="discountAmount"
              value="{{targetDiscount.discountAmount}}">
          </div>
          <div class="col-2">
            {{#if targetDiscount}}
            <button type="submit" class="btn btn-outline-success btn-round btn-sm">更新折扣</button>
            <a href="/admin/orders/discounts" class="btn btn-outline-info btn-round btn-sm">取消</a>
            {{else}}
            <button type="submit" class="btn btn-outline-success btn-round btn-sm">新增折扣</button>
            {{/if}}
          </div>
        </div>
      </form>
      <p class="mh-3">備註：同一時間只會有一個折扣有效，若新增折扣後，原有折扣將被刪除</p>
      <br>
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">折扣名稱
              <i class="fas fa-sort"></i>
            </th>
            <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">購物車金額條件
              ($)
              <i class="fas fa-sort"></i>
            </th>
            <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">購物車折扣額度
              (%)
              <i class="fas fa-sort"></i>
            </th>
            <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(5)')" style="cursor:pointer">
              狀態
              <i class="fas fa-sort"></i>
            </th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          {{#each discounts}}
          <tr class="item">
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.requireAmount}}</td>
            <td>{{this.discountAmount}}</td>
            <td>{{#ifCond this.dataStatus 1}} 可使用 {{else}} 已刪除 {{/ifCond}}</td>
            <td>

              {{#ifCond this.dataStatus 1}}
              <a href="/admin/orders/discounts/{{this.id}}" class="btn btn-outline-primary btn-sm mr-3">
                編輯
              </a>

              <a class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#trigger-deleteItem-{{this.id}}"
                href="#">刪除
              </a>
              {{/ifCond}}

              {{!--  刪除分類動作 --}}
              <div class="modal fade" id="trigger-deleteItem-{{this.id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <big class="font-weight-bold">確定要刪除【 {{this.name}} 】購物車折扣嗎?</big>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                      <form action="/admin/orders/discounts/{{this.id}}/cancel?_method=PUT" method="POST"
                        style="display: inline;">
                        <button type="submit" class="btn btn-link">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <br />
      <br />
  </div>
</div>