{{> navBar}}
<br>
<br>
<div class="album py-5 ">
  <div class="container">
    <br>
    {{> messages}}
    <h3>管理者後台</h3>
    <br>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link " href="/admin/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">Orders</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/coupons">Coupons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders/discounts">Discount</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/notifications">Notification</a>
      </li>
    </ul>
    <br>
    <h4>商品資料總覽</h4>
    <a href="/admin/products/create" class="btn btn-outline-success btn-round btn-sm">建立新商品</a>
    <br>
    <table class="table table-hover mt-3" id="myTable">
      <thead>
        <tr>
          <th scope="col" class="text-center" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')"
            style="cursor:pointer">#&nbsp;<i class="fas fa-sort"></i></th>
          <th scope="col" class="text-center">
            圖片
          </th>
          <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')"
            style="cursor:pointer">
            名稱&nbsp;<i class="fas fa-sort"></i>
          </th>
          <th scope="col" class="text-center">
            簡介
          </th>
          <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(5)')"
            style="cursor:pointer;width:10%">
            售價&nbsp;<i class="fas fa-sort"></i>
          </th>
          <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(6)')"
            style="cursor:pointer;width:10%">
            庫存&nbsp;<i class="fas fa-sort"></i>
          </th>
          <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(7)')"
            style="cursor:pointer;width:10%">
            上架狀態&nbsp;<i class="fas fa-sort"></i>
          </th>
          <th class="text-center" scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(8)')"
            style="cursor:pointer;width:10%">
            分類&nbsp;<i class="fas fa-sort"></i>
          </th>
          <th scope="col" class="text-center" scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr class="item">
          <th class="text-center" scope="row">{{this.id}}</th>
          <td class="text-center">
            {{#if this.image}}
            <img src="{{this.image}}" alt="Card image cap" width="100" height="100">
            {{else}}
            無商品圖片
            {{/if}}
          </td>
          <td class="text-center">{{this.name}}</td>
          <td class="text-center">{{this.description}}</td>
          <td class="text-center">{{this.price}}</td>
          <td class="text-center">{{this.inventory}}</td>
          <td class="text-center">
            {{#ifCond this.dataStatus 1}}
            架上
            <br />
            <a class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#trigger-deleteItem-{{this.id}}"
              href="#">下架
            </a>
            {{!--  下架商品動作 --}}
            <div class="modal fade" id="trigger-deleteItem-{{this.id}}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <big class="font-weight-bold">確定要下架【 {{this.name}} 】嗎?</big>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <form action="/admin/products/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                      <button type="submit" class="btn btn-link btn-sm">下架此商品</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            {{else}}
            已下架
            {{/ifCond}}
          </td>
          <td class="text-center">{{this.Category.name}}</td>
          <td class="text-center">
            <a href="/admin/products/{{this.id}}" class="btn btn-outline-primary btn-sm">
              細節
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>