<h1>商品後台</h1>

<a href='/admin/products'>Products</a> |
<a href='/admin/categories'>Categories</a> |
<a href="/admin/users">Users</a>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      {{#if this.role}}
      <td>Admin</td>
      {{else}}
      <td>User</td>
      {{/if}}
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          {{#if this.role}}
          <button type="submit" class="btn btn-link">Set as User</button>
          {{else}}
          <button type="submit" class="btn btn-link">Set as Admin</button>
          {{/if}}
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>