{{!---------------------- All Products --------------------------}}

{{!---------------------- Product Card--------------------------}}
{{#each products}}
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
    <div class="product-wrap mb-35">
        <div class="product-img mb-15">
            <a href="/products/{{this.id}}"><img src="{{this.image}}" alt="product"></a>
            <div class="product-action">
                <a data-toggle="modal" data-target="#{{this.name}}" title="查看"><i class="la la-plus"></i></a>
                {{!-- <a title="Wishlist" href="/products/{{this.id}}/like"><i class="la la-heart-o"></i></a>
                    <a title="Wishlist" href="/products/{{this.id}}/unlike"><i class="la la-heart"></i></a> --}}
                <div class="addthis_inline_share_toolbox" title="分享"></div>
            </div>
        </div>
        <div class="product-content">
            {{!-- 同時展示商品 id 方便 QA --}}
            <h4 class="font-weight-bold"><a href="/products/{{this.id}}">{{this.id}} x {{this.name}}</a></h4>
            {{!-- <h4 class="font-weight-bold"><a href="/products/{{this.id}}">{{this.name}}</a></h4> --}}
            <span>{{this.Category.name}}</span>
            <div class="price-addtocart">
                <div class="product-price">
                    <span>$ {{this.price}}</span>
                </div>
                {{!------------- 新增至購物車 -----------------}}
                <form action="/carts" method="POST">
                    <input type="hidden" name="productId" value="{{this.id}}" />
                    <div class="product-addtocart">
                        <button type="submit">+ 新增至購物車</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{{!---------------- Modal ------------------------}}
<div class="modal fade" id="{{this.name}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="{{this.image}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            {{!-- 同時展示商品 id 方便 QA --}}
                            <h2>{{this.id}} x {{this.name}}</h2>
                            {{!-- <h2>{{this.name}}</h2> --}}
                            <span>{{this.Category.name}}</span>
                            <div class="product-ratting-review">
                                <div class="product-review">
                                    <span>
                                        {{!-- anchor 在商品規格處，下方即可看到商品評論 --}}
                                        <a href="/products/{{this.id}}#des-details2"
                                            style="color: blue;">{{this.Reviews.length}}
                                            Reviews</a>
                                    </span>
                                </div>
                            </div>
                            <div class="pro-details-size">
                                <span>重量: {{this.weight}} kg</span>
                            </div>
                            <div class="pro-details-size">
                                <span>尺寸: {{this.length}} cm x {{this.width}} cm x {{this.height}} cm</span>
                            </div>
                            <div class="pro-details-price-wrap">
                                <div class="product-price">
                                    <span>$ {{this.price}}</span>
                                    <span class="old">$ {{this.recommendedPrice}}</span>
                                </div>
                                <div class="dec-rang"></div>
                            </div>
                            <div class="pro-details-size">
                                <span>庫存: {{this.inventory}}</span>
                            </div>
                            {{!-- Send to Cart --}}
                            <form action="/carts" method="POST">
                                <input type="hidden" name="productId" value="{{this.id}}" />
                                <div class="pro-details-buy-now btn-hover btn-hover-radious">
                                    <button type="submit">新增至購物車</button>
                                </div>
                            </form>
                            <div class="pro-details-compare-wishlist">
                                <div class="pro-details-compare">
                                    <div class="addthis_inline_share_toolbox" title="分享"></div>
                                </div>
                                {{!-- like --}}
                                {{#if this.isLiked}}
                                <form action="/products/{{this.id}}/unlike" method="POST">
                                    <div class="pro-details-quality">
                                        <div class="pro-details-buy-now btn-hover btn-hover-radious">
                                            <button type="submit"><i class="la la-heart"></i> 取消收藏</button>
                                        </div>
                                    </div>
                                </form>
                                {{else}}
                                <form action="/products/{{this.id}}/like" method="POST">
                                    <div class="pro-details-quality">
                                        <div class="pro-details-buy-now btn-hover btn-hover-radious">
                                            <button type="submit"><i class="la la-heart"></i> 收藏</button>
                                        </div>
                                    </div>
                                </form>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!----------------------------------  Modal end -----------------------------------}}
{{/each}}