{{> navBar}}
<br>
<br>
<div class="album py-5 ">
  <div class="container">
    <br>
    {{> messages}}
    <h3>會員中心</h3>
    <br>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/accounts">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/accounts/coupons">Coupons</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/accounts/wishlist">Wish List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/reviews">Your Reviews</a>
      </li>
    </ul>
    <br>
    <h4>Coupons</h4>
    <br>
    <table class="table table-hover" id="myTable">
      <thead>
        <tr>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">
            名稱&nbsp;<i class="fas fa-sort"></i></th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">
            序號&nbsp;<i class="fas fa-sort"></i></th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">
            折扣金額&nbsp;<i class="fas fa-sort"></i></th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">
            折扣折數&nbsp;<i class="fas fa-sort"></i></th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(5)')" style="cursor:pointer">
            狀態&nbsp;<i class="fas fa-sort"></i></th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(6)')" style="cursor:pointer">
            有效期限&nbsp;<i class="fas fa-sort"></i></th>
        </tr>
      </thead>
      <tbody>
        {{#each coupons}}
        {{#ifCond this.status "已無法使用"}}
        <tr class="item">
          <td>
            <p class="text-muted">{{this.name}}</p>
          </td>
          <td>
            <p class="text-muted">{{this.sn}}</p>
          </td>
          <td>
            <p class="text-muted">{{this.amount}}</p>
          </td>
          <td>
            <p class="text-muted">{{this.discount}}</p>
          </td>
          <td>
            <p class="text-muted">{{this.status}}</p>
          </td>
          <td>
            <p class="text-muted">{{momentFormat this.expireDate}}</p>
          </td>
        </tr>
        {{else}}
        <tr class="item table-success">
          <td>{{this.name}}</td>
          <td>{{this.sn}}</td>
          <td>{{this.amount}}</td>
          <td>{{this.discount}}</td>
          <td>{{this.status}}</td>
          <td>{{momentFormat this.expireDate}}</td>
        </tr>
        {{/ifCond}}
        {{/each}}
      </tbody>
    </table>
    <p>折扣計算方式：(購物車總金額 - 折扣金額）x (1 - 折扣折數）</p>
    <p>折扣使用方式：在購物車中，輸入折扣券序號</p>
    <br>
    <br>
  </div>
</div>