{{> messages}}
<div class="album py-5 ">
  <div class="container">
    <br>
    <h3>會員專區</h3>
    <br>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/accounts">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/accounts/coupons">Coupons</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/accounts/reviews">Wish List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/reviews">Your Reviews</a>
      </li>
    </ul>
    <br>
    <h4>Coupons</h4>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">名稱</th>
          <th scope="col">序號</th>
          <th scope="col">折扣金額</th>
          <th scope="col">折扣折數</th>
          <th scope="col">狀態</th>
          <th scope="col">有效期限</th>
        </tr>
      </thead>
      <tbody>
        {{#each coupons}}
        {{#ifCond this.status "已無法使用"}}
        <tr>
          <td>
            <p class="text-muted">{{this.name}}</p>
          </td>
          <td>
            <p class="text-muted">{{this.sn}}</p>
          </td>
          <td>
            <p class="text-muted">{{this.amount}}</p>
          </td>
          <td>
            <p class="text-muted">{{this.discount}}</p>
          </td>
          <td>
            <p class="text-muted">{{this.status}}</p>
          </td>
          <td>
            <p class="text-muted">{{momentFormat this.expireDate}}</p>
          </td>
        </tr>
        {{else}}
        <tr class="table-success">
          <td>{{this.name}}</td>
          <td>{{this.sn}}</td>
          <td>{{this.amount}}</td>
          <td>{{this.discount}}</td>
          <td>{{this.status}}</td>
          <td>{{momentFormat this.expireDate}}</td>
        </tr>
        {{/ifCond}}
        {{/each}}
      </tbody>
    </table>
    <p>折扣計算方式：(購物車總金額 - 折扣金額）x (1 - 折扣折數）</p>
    <p>折扣使用方式：在購物車中，輸入折扣券序號</p>
    <br>
    <br>
  </div>
</div>