{{> navBar}}
<br>
<br>
<div class="album py-5 ">
  <div class="container">
    <br>
    {{> messages}}
    <h3>會員中心</h3>
    <br>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/accounts">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  active" href="/accounts/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/coupons">Coupons</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/accounts/wishlist">Wish List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/reviews">Your Reviews</a>
      </li>
    </ul>
    <br>
    <h4>訂單資料</h4>
    <br>
    <h6 class="text-secondary text-center">點擊欄位標題後可進行排序</h6>
    <table class="table table-hover" id="myTable">
      <thead>
        <tr>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">
            日期</th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">
            金額</th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">
            訂單狀態</th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">
            付款狀態</th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(5)')" style="cursor:pointer">
            出貨狀態</th>
          <th scope="col">＃</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr class="item">
          <td>{{momentFormat this.createdAt}}</td>
          <td>{{this.totalAmount}}</td>
          {{#ifCond this.dataStatus 1}}
          <td>
            <p class="text-dark"><b>{{this.dataStatusString}}</b></p>
          </td> {{else}} <td>
            <p class="text-muted">{{this.dataStatusString}}</p>
          </td>
          {{/ifCond}}
          {{#ifCondNum this.paymentStatus 0}}
          <td>
            <p class="text-danger">{{this.paymentStatusString}}</p>
          </td>
          {{else}}
          <td>
            <p class="text-dark">{{this.paymentStatusString}}</p>
          </td>
          {{/ifCondNum}}
          {{#ifCondNum this.shippingStatus 0}}
          <td>
            <p class="text-danger">{{this.shippingStatusString}}</p>
          </td>
          {{else}}
          <td>
            <p class="text-dark">{{this.shippingStatusString}}</p>
          </td>
          {{/ifCondNum}}
          <td>
            <a href="/accounts/orders/{{this.id}}" class="btn btn-outline-info btn-sm">Detail</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <br>
  </div>
</div>