{{> messages}}
<div class="album py-5 ">
  <div class="container">
    <br>
    <h3>會員專區</h3>
    <br>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/accounts">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/coupons">Coupons</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" href="/accounts/wishlist">Wish List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/reviews">Your Reviews</a>
      </li>
    </ul>
    <br>
    <h4>Wish List</h4>
    <br>
    <table class="table table-hover" id="dataTable">
      <thead>
        <tr>
          <th scope="col">名稱</th>
          <th scope="col" style="width: 50%">敘述</th>
          <th scope="col">單價</th>
          <th scope="col">庫存</th>
          <th scope="col" style="width:10%"></th>
          <th scope="col" style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        {{#ifCond this.likeStatus 1}}
        <tr>
          <td>
            <a href="/products/{{this.id}}">
              <p class="text-primary">{{this.name}}</p>
            </a>
          </td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.inventory}}</td>
          <td>
            <form class="" action="/carts" method="post">
              <input type="hidden" id="productId" name="productId" value="{{this.id}}">
              <button type="submit" class="btn btn-success btn-sm" style="width: 100px;height:31px">加入購物車</button>
            </form>
          </td>
          <td>
            <form class="" action="/products/{{this.id}}/unlike" method="post">
              <input class="btn btn-outline-danger btn-sm" style="width: 74px;height:31px" type="submit" value="移除" />
            </form>
          </td>
        </tr>
        {{/ifCond}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>