{{> navBar}}
<br>
<br>
<div class="album py-5 ">
  <div class="container">
    <br>
    {{> messages}}
    <h3>會員中心</h3>
    <br>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/accounts">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/coupons">Coupons</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/accounts/wishlist">Wish List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/accounts/reviews">Your Reviews</a>
      </li>
    </ul>
    <br>
    <h4>Your Reviews</h4>
    <br>
    <h6 class="text-secondary text-center"><i class="fas fa-sort"></i> 符號代表點選此欄位標題後可進行排序</h6>
    <table class="table table-hover" id="myTable">
      <thead>
        <tr>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">
            商品名稱&nbsp;<i class="fas fa-sort"></i></th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')"
            style="cursor:pointer;width:60%">你的評論&nbsp;<i class="fas fa-sort"></i></th>
          <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')"
            style="cursor:pointer;width:10%">日期&nbsp;<i class="fas fa-sort"></i></th>
          <th scope="col" style="width:10%"></th>
          <th scope="col" style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        {{#each reviews}}
        {{#ifCondNum this.id ../targetId}}
        <tr class="item">
          <td>
            <a href="/products/{{this.ProductId}}">
              <p class="text-primary">{{this.Product.dataValues.name}}</p>
            </a>
          </td>
          <form action="/products/{{this.ProductId}}/reviews/{{this.id}}?_method=PUT" method="POST">
            <td>
              <textarea rows="" cols="" type="text" class="form-control" name="review" id="review"
                placeholder="Your review" style="height:100px; vertical-align: top" required>{{this.review}}</textarea>
            </td>
            <td>
              <button type="submit" class="btn btn-outline-success btn-round btn-sm">送出</button>
            </td>
          </form>
          <td>
            <a href="/accounts/reviews" class="btn btn-outline-danger btn-sm">取消</a>
          </td>
        </tr>
        {{else}}
        <tr class="item">
          <td>
            <a href="/products/{{this.ProductId}}">
              <p class="text-primary">{{this.Product.dataValues.name}}</p>
            </a>
          </td>
          <td>{{this.review}}</td>
          <td>{{momentYYYYMMDD this.updatedAt}}</td>
          <td>
            <a href="/products/{{this.ProductId}}/reviews/{{this.id}}/edit" class="btn btn-outline-info btn-sm">編輯</a>
          </td>
          <td>
            <form action="/products/{{this.ProductId}}/reviews/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-outline-danger btn-round btn-sm">刪除</button>
            </form>
          </td>
        </tr>
        {{/ifCondNum}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>