<div class="pagination-style text-center">
    <ul>
        <li>
            <a class="prev" href="/products/shop?page={{prev}}&category_id={{category_id}}&keyword={{keyword}}">
                <i class="la la-angle-left"></i>
            </a>
        </li>
        {{#each totalPages}}
            {{#ifCond this ../page}}
                <li><a class="active" href="#">{{this}}</a></li>
            {{else}}
                <li><a href="/products/shop?page={{this}}&category_id={{../category_id}}&keyword={{../keyword}}">{{this}}</a></li>
            {{/ifCond}}
        {{/each}}
        <li>
            <a class="next" href="/products/shop?page={{next}}&category_id={{category_id}}&keyword={{keyword}}">
                <i class="la la-angle-right"></i>
            </a>
        </li>
    </ul>
</div>