{{> messages}}
<div class="product-details-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-img-left">
                    <img class="zoompro" src={{product.image}}
                        data-zoom-image="/assets/images/product-details/product-detalis-bl1.jpg"
                        alt="product-details-img">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content pro-details-content-modify">
                    {{!-- 同時展示商品 id 方便 QA --}}
                    <h2><b>{{product.name}}</b></h2>
                    {{!-- <h2><b>{{{product.name}}</b></h2> --}}
                    <span>{{product.Category.name}}</span>
                    <div class="product-ratting-review"></div>
                    <div class="pro-details-price-wrap">
                        <div class="product-price">
                            <span>$ {{product.price}}</span>
                            <span class="old">$ {{product.recommendedPrice}}</span>
                        </div>
                    </div>
                    <span>庫存: {{product.inventory}}</span>
                    {{#ifCond product.inventory 0}}
                    <div class="pro-details-quality mt-5">
                        <div class="pro-details-buy-now btn-hover btn-hover-radious">
                            <button type="submit">已無庫存</button>
                        </div>
                    </div>
                    {{else}}
                    <form action="/carts" method="POST" id="add-cart-item" class="mt-5">
                        <div class="pro-details-quality">
                            <div class="pro-details-buy-now btn-hover btn-hover-radious">
                                <input type="hidden" name="productId" value="{{product.id}}" />
                                <button type="submit" form="add-cart-item">新增至購物車</button>
                            </div>
                        </div>
                    </form>
                    {{/ifCond}}
                    <div class="pro-details-compare-wishlist">
                        <div class="pro-details-compare">
                            <div class="addthis_inline_share_toolbox" title="分享"></div>
                        </div>
                        {{#if isLiked}}
                        <form action="/products/{{product.id}}/unlike" method="POST">
                            <div class="pro-details-quality">
                                <div class="pro-details-buy-now btn-hover btn-hover-radious">
                                    <button type="submit"><i class="la la-heart"></i> 取消收藏</button>
                                </div>
                            </div>
                        </form>
                        {{else}}
                        <form action="/products/{{product.id}}/like" method="POST">
                            <div class="pro-details-quality">
                                <div class="pro-details-buy-now btn-hover btn-hover-radious">
                                    <button type="submit"><i class="la la-heart"></i> 收藏</button>
                                </div>
                            </div>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-wrapper pb-90">
    <div class="container">
        <div class="row">
            <div class="ml-auto mr-auto col-lg-10">
                <div class="tab-content dec-review-bottom">
                    <div class="alert alert-info" role="alert">
                        <p class="text-center font-weight-bold"> 商品規格</p>
                    </div>
                    <div id="des-details2" class="tab-pane active">
                        <div class="specification-wrap table-responsive">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="width1">名稱</td>
                                        <td>{{product.name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">介紹</td>
                                        <td>{{product.description}}</td>
                                    </tr>
                                    <tr>
                                        <td>類別</td>
                                        <td>{{product.Category.name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">尺寸</td>
                                        <td>{{product.length}} cm x {{product.width}} cm x {{product.height}} cm</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">重量</td>
                                        <td>{{product.weight}} KG</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!---------- 評論者 ------------}}
                    <br>
                    <div class="alert alert-info" role="alert">
                        <p class="text-center font-weight-bold"> 商品評論</p>
                    </div>
                    <div id="des-details3" class="tab-pane active">
                        {{!-- 新增評論 --}}
                        <div class="dec-review-wrap mb-50">
                            <form action="/products/{{product.id}}/reviews" method="POST" style="width:100%">
                                <div class="row">
                                    <div class="col-10">
                                        <textarea rows="" cols="" type="text" class="form-control" name="review"
                                            id="review" placeholder="Your review"
                                            style="height:100px; vertical-align: top" required></textarea>
                                    </div>
                                    <div class="col-2">
                                        <div class="mt-5">
                                            <button type="submit"
                                                class="btn btn-outline-success btn-round btn-sm">送出</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{#each reviews}}
                        {{#ifCond this.dataStatus 1}}
                        <div class="dec-review-wrap mb-50">
                            <div class="row">
                                <div class="col-10">
                                    <div class="dec-review-content">
                                        <p>{{this.review}}
                                        </p>
                                        <div class="review-content-bottom">
                                            <div class="review-date">
                                                <span style="color: blue;">{{momentYYYYMMDD this.createdAt}}
                                                    &nbsp;&nbsp; <b style="color: black;">by
                                                        {{this.userName}}</b></span>
                                            </div>
                                        </div>

                                        {{#ifCond this.UserId ../user.id}}
                                        <br>
                                        <div class="d-flex flex-row bd-highlight mb-3">
                                            <a href="/products/{{this.ProductId}}/reviews/{{this.id}}/edit"
                                                class="btn btn-outline-info btn-sm mr-2">編輯</a>
                                            <form
                                                action="/products/{{this.ProductId}}/reviews/{{this.id}}?_method=DELETE"
                                                method="POST">
                                                <button type="submit"
                                                    class="btn btn-outline-danger btn-round btn-sm">刪除</button>
                                            </form>
                                        </div>
                                        {{/ifCond}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/ifCond}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>