<div class="product-details-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-img-left">
                    <img class="zoompro" src="/assets/images/product-details/pro-details-1.jpg"
                        data-zoom-image="/assets/images/product-details/product-detalis-bl1.jpg"
                        alt="product-details-img">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content pro-details-content-modify">
                    <span>{{product.Category.name}}</span>
                    <h2>{{product.name}}</h2>
                    <div class="product-ratting-review">
                        {{!-- <div class="product-ratting">
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star-half-o"></i>
                        </div> --}}
                        {{!-- <div class="product-review">
                            <span>40+ Reviews</span>
                        </div> --}}
                    </div>

                    <div class="pro-details-price-wrap">
                        <div class="product-price">
                            <span>${{product.price}}</span>
                            <span class="old">${{product.recommendedPrice}}</span>
                        </div>
                        {{!-- <div class="dec-rang"><span>- 30%</span></div> --}}
                    </div>
                    <div class="pro-details-quality">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                        </div>
                    </div>
                    <div class="pro-details-compare-wishlist">
                        <div class="pro-details-compare">
                            <a title="Add To Compare" href="#"><i class="la la-retweet"></i> 分享</a>
                        </div>
                        <div class="pro-details-wishlist">
                            <a title="Add To Wishlist" href="#"><i class="la la-heart-o"> 收藏</i> </a>
                        </div>
                    </div>
                    <div class="pro-details-buy-now btn-hover btn-hover-radious">
                        <button type="submit">新增至購物車</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-wrapper pb-90">
    <div class="container">
        <div class="row">
            <div class="ml-auto mr-auto col-lg-10">
                <div class="dec-review-topbar nav mb-40">
                    <a data-toggle="tab" href="#des-details1">產品描述</a>
                    <a class="active" data-toggle="tab" href="#des-details2">產品規格</a>
                    <a data-toggle="tab" href="#des-details3">使用評價</a>
                </div>
                <div class="tab-content dec-review-bottom">
                    <div id="des-details1" class="tab-pane">
                        <div class="description-wrap">
                            <p>{{product.description}}</p>
                        </div>
                    </div>
                    <div id="des-details2" class="tab-pane active">
                        <div class="specification-wrap table-responsive">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="width1">Name</td>
                                        <td>{{product.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td>{{product.Category.name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">尺寸</td>
                                        <td>{{product.length}} cm x {{product.width}} cm x {{product.height}} cm</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">重量</td>
                                        <td>{{product.weight}} KG</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!---------- 評論者 ------------}}
                    <div id="des-details3" class="tab-pane">
                        {{!-- 新增評論 --}}
                        <div class="dec-review-wrap mb-50">
                            <form action="/products/{{product.id}}/reviews" method="POST" style="width:100%">
                                <div class="row">
                                    <div class="col-10">
                                        <textarea rows="" cols="" type="text" class="form-control" name="review"
                                            id="review" placeholder="Your review"
                                            style="height:100px; vertical-align: top" required></textarea>
                                    </div>
                                    <div class="col-2">
                                        <div class="mt-5">
                                            <button type="submit"
                                                class="btn btn-outline-success btn-round btn-sm">送出</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{#each reviews}}
                        {{#ifCond this.dataStatus 1}}
                        <div class="dec-review-wrap mb-50">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-5">
                                    <div class="dec-review-img-wrap">
                                        <div class="dec-client-name">
                                            <h4>{{this.userName}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-7">
                                    <div class="dec-review-content">
                                        <p>{{this.review}}
                                        </p>
                                        <div class="review-content-bottom">
                                            <div class="review-date">
                                                <span>{{momentYYYYMMDD this.createdAt}}</span>
                                            </div>
                                        </div>

                                        {{#ifCond this.UserId ../user.id}}
                                        <br>
                                        <div class="d-flex flex-row bd-highlight mb-3">
                                            <a href="/products/{{this.ProductId}}/reviews/{{this.id}}/edit"
                                                class="btn btn-outline-primary btn-round btn-sm mr-1">Edit this review
                                            </a>
                                            <form
                                                action="/products/{{this.ProductId}}/reviews/{{this.id}}?_method=DELETE"
                                                method="POST">
                                                <button type="submit"
                                                    class="btn btn-outline-danger btn-round btn-sm">Delete
                                                    this review</button>
                                            </form>
                                        </div>
                                        {{/ifCond}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/ifCond}}
                        {{/each}}
                        {{!-- Original design --}}
                        {{!-- <div class="dec-review-wrap mb-50">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-5">
                                    <div class="dec-review-img-wrap">
                                        <div class="dec-review-img">
                                            <img src="/assets/images/product-details/review-1.png" alt="review">
                                        </div>
                                        <div class="dec-client-name">
                                            <h4>Jonathon Doe</h4>
                                            <div class="dec-client-rating">
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-7">
                                    <div class="dec-review-content">
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                        </p>
                                        <div class="review-content-bottom">
                                            <div class="review-like">
                                                <span><i class="la la-heart-o"></i> 24 Likes</span>
                                            </div>
                                            <div class="review-date">
                                                <span>25 Jun 2019</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>