<div class="product-details-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-img-left">
                    <img class="zoompro" src={{product.image}}
                        data-zoom-image={{product.image}}
                        alt="product-details-img">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content pro-details-content-modify">
                    <span>{{product.Category.name}}</span>
                    <h2>{{product.name}}</h2>

                    <div class="product-ratting-review"></div>
                    <div class="pro-details-price-wrap">
                        <div class="product-price">
                            <span>$ {{product.price}}</span>
                            <span class="old">$ {{product.recommendedPrice}}</span>
                        </div>
                    </div>
                    <div class="pro-details-quality">
                        {{!-- <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                        </div> --}}
                    </div>
                    
                    <div class="pro-details-compare-wishlist">
                        <div class="pro-details-compare">
                           <div class="dropdown">
                                <a class="dropdown-item" href="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)) ));" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-retweet"></i>
                                    分享
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-item">
                                        <a href="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)) ));">
                                            <img src="/assets/images/logo/fb.png" width="40" height="40" />
                                        </a>
                                        <a href="javascript:void(window.open('http://twitter.com/home/?status='.concat(encodeURIComponent(document.title)).concat(' ') .concat(encodeURIComponent(location.href))));">
                                            <img src="/assets/images/logo/twitter.png" width="40" height="40"  />
                                        </a>
                                     </div>
                                </div>
                            </div>
                        </div>
                        {{#if product.isLiked}}
                        <form action="/products/{{product.id}}/unlike" method="post" id="unliked-item">
                            <div class="pro-details-wishlist">
                                <button type="submit" form="unliked-item"><i class="la la-heart"></i> 取消收藏</button>
                            </div>
                        </form>
                        {{else}}
                        <form action="/products/{{product.id}}/like" method="post" id="liked-item">
                            <div class="pro-details-wishlist">
                                <button type="submit" form="liked-item"><i class="la la-heart-o"></i> 收藏</button>
                            </div>
                        </form>
                        {{/if}}
                    </div>
                    <form action="/carts" method="POST" id="add-cart-item-b">
                        <input type="hidden" name="productId" value="{{product.id}}" />
                        <div class="pro-details-buy-now btn-hover btn-hover-radious">
                            <button type="submit" form="add-cart-item-b">新增至購物車</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-wrapper pb-90">
    <div class="container">
        <div class="row">
            <div class="ml-auto mr-auto col-lg-10">
                <div class="dec-review-topbar nav mb-40">
                    <a data-toggle="tab" href="#des-details1">產品描述</a>
                    <a class="active" data-toggle="tab" href="#des-details2">產品規格</a>
                    <a data-toggle="tab" href="#des-details3">使用評價</a>
                </div>
                <div class="tab-content dec-review-bottom">
                    <div id="des-details1" class="tab-pane">
                        <div class="description-wrap">
                            <p>{{product.description}}</p>
                        </div>
                    </div>
                    <div id="des-details2" class="tab-pane active">
                        <div class="specification-wrap table-responsive">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="width1">名稱</td>
                                        <td>{{product.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>類別</td>
                                        <td>{{product.Category.name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">尺寸</td>
                                        <td>{{product.length}} cm x {{product.width}} cm x {{product.height}} cm</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">重量</td>
                                        <td>{{product.weight}} KG</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!---------- 評論者 ------------}}
                    <div id="des-details3" class="tab-pane">
                        {{!-- 新增評論 --}}
                        <div class="dec-review-wrap mb-50">
                            <form action="/products/{{product.id}}/reviews" method="POST" style="width:100%">
                                <div class="row">
                                    <div class="col-10">
                                        <textarea rows="" cols="" type="text" class="form-control" name="review"
                                            id="review" placeholder="Your review"
                                            style="height:100px; vertical-align: top" required></textarea>
                                    </div>
                                    <div class="col-2">
                                        <div class="mt-5">
                                            <button type="submit"
                                                class="btn btn-outline-success btn-round btn-sm">送出</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{#each reviews}}
                        {{#ifCond this.dataStatus 1}}
                        <div class="dec-review-wrap mb-50">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-5">
                                    <div class="dec-review-img-wrap">
                                        <div class="dec-client-name">
                                            <h4>{{this.userName}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-7">
                                    <div class="dec-review-content">
                                        <p>{{this.review}}
                                        </p>
                                        <div class="review-content-bottom">
                                            <div class="review-date">
                                                <span>{{momentYYYYMMDD this.createdAt}}</span>
                                            </div>
                                        </div>

                                        {{#ifCond this.UserId ../user.id}}
                                        <br>
                                        <div class="d-flex flex-row bd-highlight mb-3">
                                            <a href="/products/{{this.ProductId}}/reviews/{{this.id}}/edit"
                                                class="btn btn-outline-info btn-sm mr-2">編輯</a>
                                            <form
                                                action="/products/{{this.ProductId}}/reviews/{{this.id}}?_method=DELETE"
                                                method="POST">
                                                <button type="submit"
                                                    class="btn btn-outline-danger btn-round btn-sm">刪除</button>
                                            </form>
                                        </div>
                                        {{/ifCond}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/ifCond}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>